{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}{{ review.title }}{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static 'css/style.css' %}">{% endblock css %}

{% block content %}
  <section class="main my-5 container">
    <h1 class='text-center'>리뷰 내용</h1>
    <div class="review-content my-5">
      <img src="{{ review.image.url }}" class="review-image" alt="{{ review.image }}" srcset="">
      <div class='review-details'>
          <h2 class='fw-bold mb-4'>리뷰 제목 : {{ review.title }}</h2>
          <h3 class='fw-bold'>영화 제목 : {{ review.movie_title }}</h3>
          {% if  request.user.is_authenticated %}
          <h4 class='my-3'>작성자 : {{ request.user }}</h4>
          {% else %}
          <h4 class='my-3'>작성자 : 익명</h4>
          {% endif %}
          <h6 class='text-muted'>작성 날짜 : {{ review.created_at }}| 수정 날짜 : {{ review.updated_at }}</h6>
          <hr>
          <h4 class='mt-3'>별점 : {{ review.get_grade_display }}</h4>
          <div class='mt-3'>
            <a class="btn btn-outline-secondary" href="{% url 'article:index' %}" role="button">뒤로가기</a>
            <a class="btn btn-outline-danger" href="{% url 'article:update' review.pk %}" role="button">수정하기</a>
          </div>
      </div>
    </div>
    <h3>리뷰 내용</h3>
    <h4>{{ review.content }}</h4>
  </section>
  <section class='comment container mb-5'>
    <h3>댓글 | <span class="badge text-bg-secondary">댓글 수: {{ comment_num }}</span></h3>
    <button class="btn btn-primary my-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      댓글 쓰기
    </button>
    <div class="collapse my-3" id="collapseExample">
      <div class="card card-body">
        <form action="{% url 'article:comment_create' review.pk %}" method="POST">
          {% csrf_token %}
          <div class="form-floating">
            {% bootstrap_form comment_form %}
          </div>
          <input class="btn btn-success" type="submit" value="제출">
        </form>
      </div>
    </div>
    <div class="com my-3"></div>
      {% for comment in comments %}
      <h5>{{ comment.user }} | <span class='fs-6 text-muted'>{{ comment.updated_at }}</span></h5>
      <h5>{{ comment.content }}</h5>
      <a class="btn btn-outline-danger btn-sm" href="{% url 'article:comment_delete' comment.pk review.pk %}" role="button">삭제하기</a>
      <hr>
      {% endfor %}
    </div>
  </section>
{% endblock content %}