<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>지도 테스트</title>
</head>
<body>
  <h1>지도지도</h1>
  <button type="button" onclick="getUserLocation()" class="btn btn-lg btn-primary" id="getMyPositionBtn">내 위치 가져오기</button>
  <div id="map" style="width:1000px; height:500px;"></div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5a06118ba07d4964a2e24ae9f85e906f"></script>
  <script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 

    mapOption = { 
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 5 // 지도의 확대 레벨
    };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
    
    function locationLoadSuccess(pos) {
      // 현재 위치 받아오기
      const x = pos.coords.latitude
      const y = pos.coords.longitude

      axios({
        method: 'get',
        url: `/map/${x}/${y}`,
      })
      .then(response => {
        console.log(response.data)
        var parks = JSON.parse(response.data.parkJson)
        console.log(parks.length)
        for (let i=0; i< parks.length; i++){

          var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 

          var imageSize = new kakao.maps.Size(24, 35); 
          
          // 마커 이미지를 생성합니다    
          var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 
          
          // 마커를 생성합니다
          var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position:  new kakao.maps.LatLng(parks[i].lat, parks[i].long), // 마커를 표시할 위치
            title : parks[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            image : markerImage // 마커 이미지 
            
          });
        }

      })

      var currentPos = new kakao.maps.LatLng(pos.coords.latitude, pos.coords.longitude);

      // 지도 이동(기존 위치와 가깝다면 부드럽게 이동)
      map.panTo(currentPos);

      // 마커 생성
      var marker = new kakao.maps.Marker({position: currentPos});

      // 기존에 마커가 있다면 제거
      marker.setMap(null);
      marker.setMap(map);
    }

    function loactionLoadError(pos) {
        alert('위치 정보를 가지고 오는데 실패했습니다 ㅜ.ㅜ')
    }

    // 내 위치 가지고 오기
    function getUserLocation() {
        navigator.geolocation.getCurrentPosition(locationLoadSuccess, loactionLoadError)
    }
  </script>
</body>
</html>