/* 아래에 CSS를 작성해주세요. */
.card{
    width: 300px;
    margin: 0 auto;
}

img{
   width: 100%; 
   border-radius: 10px;
}

h3, p{
    font-size: 14px;
    margin: 5px 0px;
}

.info{
    margin: 5px 10px;
}

.company{
    color: rgb(117, 117, 117);
}

.name{
    color: rgb(54, 54, 54);
}

.price{
    font-size: 16px;
    font-weight: 700;
}

.discount{
    color:rgb(2, 190, 236);
    font-weight: 1000;
}

.review{
    font-weight: 700;
    color: rgb(117, 117, 117);
}

.overall{
    color: rgb(54, 54, 54);
}