{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}{{ review.title }}{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static 'css/style.css' %}">{% endblock css %}

{% block content %}
  <section class="main my-5 container">
    <h1 class='text-center'>리뷰 내용</h1>
    <div class="review-content my-5">
      <img src="{{ review.image.url }}" class="review-image" alt="{{ review.image }}" srcset="">
      <div class='review-details'>
          <h2 class='fw-bold mb-4'>리뷰 제목 : {{ review.title }}</h2>
          <h3 class='fw-bold'>영화 제목 : {{ review.movie_title }}</h3>
          <h6 class='text-muted'>작성 날짜 : {{ review.created_at }}| 수정 날짜 : {{ review.updated_at }}</h6>
          <hr>
          <h4 class='mt-3'>별점 : {{ review.get_grade_display }}</h4>
          <div class='mt-3'>
            <a class="btn btn-outline-secondary" href="{% url 'article:index' %}" role="button">뒤로가기</a>
            <a class="btn btn-outline-danger" href="{% url 'article:update' review.pk %}" role="button">수정하기</a>
          </div>
      </div>
    </div>
    <h3>리뷰 내용</h3>
    <h4>{{ review.content }}</h4>
  </section>
{% endblock content %}