{% extends 'base.html' %}

{% block title %}<title>To do list</title>{% endblock %}
{% block style %}
{% endblock %}


{% block content %}
<h1 class="text-center my-3">내가 할 일</h1>
  <div class="container mt-3">
    <form action="{% url 'todos:create' %}">
      <!-- content -->
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1" maxlength="80" style="padding: 6px 25px;">할 일</span>
        <input type="text" class="form-control" name="content">
      </div>
      <!-- priority -->
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">우선순위</label>
        <select class="form-select" id="inputGroupSelect01" name="priority">
          <option selected>선택</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <!-- deadline -->
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">마감일자</span>
        <input type="date" class="form-control" name="dday">
      </div>
      <!-- submit button -->
      <button type="submit" class="btn btn-primary">할 일 추가</button>
    </form>
  </div>

  <section class="lists container mt-5">
    <table class="table">
      <thead>
        <tr>
          <th class="d-none">id</th>
          <th scope="col">우선순위</th>
          <th scope="col">할일 내용</th>
          <th scope="col">생성 날짜</th>
          <th scope="col">마감 기한</th>
          <th scope="col">진행 상태</th>
          <th scope="col">상태 변경</th>
          <th scope="col">삭제</th>
        </tr>
      </thead>
      <tbody>
        {% for do in todo%}
          {% if do.completed == False %}
            <tr>
              <td class="d-none">{{ do.pk }}</td>
              <td>{{ do.priority }}</td>
              <td>{{ do.content }}</td>
              <td>{{ do.created_at }}</td>
              <td>{{ do.deadline }}</td>
              <td>{{ do.completed }}</td>
              <td><a class="btn btn-primary" href="/todos/complete/{{ do.pk }}" role="button">변경</a></td>
              <td><a class="btn btn-danger" href="/todos/delete/{{ do.pk }}" role="button">삭제</a></td>
            </tr>
          {% elif do.completed == True %}
            <tr>
              <td class="d-none">{{ do.pk }}</td>
              <td class="text-decoration-line-through">{{ do.priority }}</td>
              <td class="text-decoration-line-through">{{ do.content }}</td>
              <td class="text-decoration-line-through">{{ do.created_at }}</td>
              <td class="text-decoration-line-through">{{ do.deadline }}</td>
              <td class="text-decoration-line-through">{{ do.completed }}</td>
              <td><a class="btn btn-primary" href="/todos/complete/{{ do.pk }}" role="button">변경</a></td>
              <td><a class="btn btn-danger" href="/todos/delete/{{ do.pk }}" role="button">삭제</a></td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </section>


{% endblock %}

