{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}회원 가입{% endblock title %}

{% block content %}
<section class="main my-5 container">
  <h1 class='text-center'>회원 목록</h1>
  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form password_form %}
    <a href="{% url 'accounts:update' request.user.pk %}" class="btn btn-outline-secondary">뒤로가기</a>
    <input class="btn btn-outline-success" type="submit" value="Submit">
  </form>
</section>
{% endblock content %}
