<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Ping</h1>
  <!-- form에 입력을 받아 /pong으로 보내는 것 -->
  <!-- http://localhost:8000/pong?ball=이제준 -->

  <!-- method="GET" -->
  <form action="/pong" method="GET">
    <input type="text" name="ball">
    <input type="submit" value="Submit">
  </form>
</body>
</html>