{% extends 'base.html' %}

{% block title %}{{ user.username }}'s Profile Page{% endblock title %}

{% block content %}
<section class="main container my-5 d-flex flex-column align-items-center">
  <h1>{{ user.username }}'s Profile</h1>
  <div class="profile-details d-flex align-items-center">
    <img src="{{ user.profile_img.url }}" alt="Profile_Picture" style="height: 250px;">
    <div class="ms-5">
      <h3>Full Name : {{ user.first_name }} {{ user.last_name }}</h3>
      <h4>Gender : {{ user.gender }}</h4>
      <h4>Email : {{ user.email }}</h4>
      <h6 class="text-muted">Date Joined : {{ user.date_joined }}</h6>
      <a class="btn btn-outline-secondary" href="{% url 'articles:index' %}" role="button">Go Home</a>
      {% if request.user.id == user.id %}
      <a class="btn btn-outline-danger" href="{% url 'accounts:update' request.user.id %}" role="button">Chang Info</a>
      {% endif %}
    </div>
  </div>
</section>

<section class="follow container d-flex flex-column justify-content-center mb-4">
  <div class="follow-info d-flex justify-content-center">
    <h5 class="followers">Followers : {{ user.follower.all | length }}</h5>
    <h5>Following : {{ user.following.all | length }}</h5>
  </div>
  {% if request.user != user %}
  {% if request.user not in user.follower.all %}
  <a class="btn btn-outline-primary" href="{% url 'accounts:follow' user.pk %}" role="button">Follow</a>
  {% else %}
  <a class="btn btn-outline-danger" href="{% url 'accounts:follow' user.pk %}" role="button">Unfollow</a>
  {% endif %}
  {% endif %}
</section>

<section class="profile_reviews table container">
  <h2 class="text-center">Written Reviews</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Review Title</th>
        <th scope="col">Reviewed match</th>
        <th scope="col">Created at</th>
        <th scope="col">Go to the Page</th>
      </tr>
    </thead>
    <tbody>
      {% for review in user_reviews %}
      <tr>
        <td>{{ review.review_title }}</td>
        <td>{{ review.match_title }}</td>
        <td>{{ review.created_at }}</td>
        <td><a class="btn btn-outline-success btn-sm" href="{% url 'articles:detail' review.pk %}" role="button">Click to Move</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

<section class="profile_likes my-4 table container">
  <h2 class="text-center">Liked Reviews <span class="likes-num">| you like {{ user.like_articles.all | length }} reviews </span></h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Review Title</th>
        <th scope="col">Reviewed match</th>
        <th scope="col">Go to the Page</th>
      </tr>
    </thead>
    <tbody>
      {% for review in user.like_articles.all %}
      <tr>
        <td>{{ review.review_title }}</td>
        <td>{{ review.match_title }}</td>
        <td><a class="btn btn-outline-success btn-sm" href="{% url 'articles:detail' review.pk %}" role="button">Click to Move</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

{% endblock content %}