{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Change Your Password{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'CSS/style.css' %}">{% endblock css %}

{% block content %}
<div class="container my-5">
  <h1 class="text-center">Change Your Password</h1>

  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form password_form %}
    <a class="btn btn-outline-secondary" href="{% url 'accounts:update' request.user.id %}" role="button">Go Back</a>
    <input class="btn btn-outline-success" type="submit" value="Submit">
  </form>
</div>
{% endblock content %}