{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Change Your Profile{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'CSS/style.css' %}">{% endblock css %}

{% block content %}
<div class="container my-5">
  <h1 class="text-center">Change Your Profile</h1>

  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form update_form %}
    <input class="btn btn-outline-success" type="submit" value="Submit">
  </form>
</div>
{% endblock content %}