*{
  font-family: 'Do Hyeon', sans-serif;
}

/* navigation bar */
nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 20%;
  background-color: rgb(191, 191, 191);
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.navs{
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-left: 0;
}


.navlink, .navlinks{
  margin-top: 1rem;
  text-decoration: none;
  color:black;
  font-weight: bold;
  font-size: 1.3rem;
  list-style: none;
}

.main{
  position: absolute;
  left: 20%;
  width: 80%;
  background-color: rgb(59,72,80);
}

.logo{
  height: 5rem;
}

/* 900px 이하일 때에 */
@media only screen and (max-width: 900px) {
  .nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 0px;
    height: 100px;
    width: 100%;
  }

  .navs{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 0;
  }
  
.navlinks{
  margin-top: 0;
}

  .navlink{
    margin-left: 1rem;
  }
  
  
  .logo{
    height: 4rem;
  }

  /* main section */
  .main{
    position: none;
    left: 0px;
    width: 100%;
  }
}