{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Write Review{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'CSS/style.css' %}">{% endblock css %}

{% block content %}
<div class="container my-5">
  <h1 class="text-center">Write Review</h1>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form review_form %}
    <a class="btn btn-outline-secondary me-3" href="{% url 'articles:index' %}" role="button">Go Back</a>
    <input class="btn btn-outline-success" type="submit" value="Submit">
  </form>
</div>
{% endblock content %}