{% extends 'base.html' %}
{% load static %}

{% block title %}Match Review{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'CSS/style.css' %}">{% endblock css %}

{% block content %}
<div class="container my-5">
  <h1 class="text-center">Match Reviews</h1>
  <a class="btn btn-outline-secondary my-3" href="{% url 'articles:create' %}" role="button">Write Review</a>
</div>
<div class="container">
  <div class="row justify-content-center">
    {% for review in reviews %}
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card" >
        <img src="{{ review.image_thumbnail.url }}" class="card-img-top" alt="{{ review.image }}">
        <div class="card-body d-flex flex-column ">
          <h5 class="mb-2 card-title fw-bold text-center">{{ review.review_title }}</h5>
          <p class="mb-2 card-text text-center">{{ review.sports }}</p>
          <p class="mb-2 card-text text-center">{{ review.match_title }}</p>
          <p class="mb-2 card-text text-center">{{ review.match_date }}</p>
          <p class="mb-2 card-text text-center">Written by:<a href="{% url 'accounts:profile' review.user.pk %}"> {{ review.user }}</a></p>
          <p class="mb-2 card-text text-center">{{ review.user_like.all | length }} people like this review</p>
          <a href="{% url 'articles:detail' review.pk %}" class="mt-2 btn btn-primary">Detail</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}