{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Update Review{% endblock title %}

{% block css %}<link rel="stylesheet" href="{% static 'CSS/style.css' %}">{% endblock css %}

{% block content %}
<div class="container my-5">
  <h1 class="text-center">Update Review</h1>
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form update_form %}
    <a class="btn btn-outline-secondary me-3" href="{% url 'articles:detail' num %}" role="button">Go Back</a>
    <a class="btn btn-outline-danger me-3" href="{% url 'articles:delete' num %}" role="button">삭제하기</a>
    <input class="btn btn-success" type="submit" value="Submit">
  </form>
</div>
{% endblock content %}