/* 아래에 CSS를 작성해주세요. */

.info{
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    margin: 0px auto;
}

.new_release{
    display: flex;
    flex-flow: row wrap;
    width: 480px;
    height: 318px;
    justify-content: space-evenly;
}

.artist-info{
    position: relative;
}


.artist{
    width: 156px;
    height: 156px;
}

.box{
    position: absolute;
    z-index: 1;
    bottom: 3px;
    margin: 0;
    padding-top: 8px;
    width: 156px;
    height: 22px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 700;
    background-color: rgba(49, 49, 49, 0.562);
}

/*중간 포스터*/
.album-poster{
    width: 236px;
    height: 318px;
}

.poster-image{
    width: 100%;
    height: 318px;
}



/*로그인 부분*/
.others{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 318px;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 117px;
    border: 1px rgb(184, 182, 182);
    background-color: rgba(251, 251, 251, 1);
}

.direction{
    margin-bottom: 10px;
    font-size: 10px;
}

.register{
    margin-left: 65px;
}

.log{
    width: 244px;
    height: 42px;
    border: 0px;
    color: white;
    background-color: rgb(0, 211, 68);
    font-size: 16px;
}


/*기생충 부분*/
.poster{
    position: relative;
    width: 280px;
    height: 188px;
}

.show-image{
    width: 280px;
    height: 100%;
    opacity: 0.6;
}

.purchase{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
    width: 200px;
    height: 30px;
    border: 0px;
    border-radius: 20px;
    background-color: rgb(197, 0, 37);
    color: white;
}